In [131]:
import pandas as pd

In [132]:
data=pd.Series([0.593, 0.142, 0.329, 0.691, 0.231, 0.793, 0.519, 0.392, 0.418])

In [133]:
import scipy
from scipy import stats

In [134]:
scipy.stats.ttest_1samp(data,.3)

Ttest_1sampResult(statistic=2.2050588385131595, pvalue=0.05853032968489765)

In [135]:
scipy.stats.ttest_1samp(data,.3)[1]

0.05853032968489765

In [136]:
p=stats.ttest_1samp(data,.3)[1]
p_value=p/2
p_value

0.029265164842448826

In [137]:
Control=pd.Series([91, 87, 99, 77, 88, 91])
Treat =pd.Series([101, 110, 103, 93, 99, 104])

In [138]:
stats.ttest_ind(Control,Treat)

Ttest_indResult(statistic=-3.445612673536487, pvalue=0.006272124350809803)

In [139]:
import numpy as np

In [140]:
n1=247
p1=.37
n2=308
p2=.39

In [141]:
population1 = np.random.binomial(1, p1, n1)
population2 = np.random.binomial(1, p2, n2)

In [142]:
population1.mean()

0.3643724696356275

In [143]:
population2.mean()

0.41233766233766234

In [144]:
population2

array([0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1,
       1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1,
       1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1,
       0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1,
       0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0,
       1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1,
       1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1])

In [145]:
import statsmodels.api as sm
sm.stats.ttest_ind(population1,population2)

(-1.1501200461167482, 0.2505915473127603, 553.0)

In [146]:
import pandas as pd
from sklearn import datasets

In [147]:
iris=datasets.load_iris()

In [148]:
df=pd.DataFrame(iris.data)

In [149]:
import scipy.stats as stats

In [150]:
stats.f_oneway(df.iloc[:,0],df.iloc[:,1],df.iloc[:,2])

F_onewayResult(statistic=236.75163298404746, pvalue=7.657188374182084e-71)

In [151]:
!pip install pandas_profiling

Requirement already satisfied: pandas_profiling in d:\anaconda\lib\site-packages (2.10.0)
Requirement already satisfied: scipy>=1.4.1 in d:\anaconda\lib\site-packages (from pandas_profiling) (1.5.2)
Requirement already satisfied: joblib in d:\anaconda\lib\site-packages (from pandas_profiling) (0.17.0)
Requirement already satisfied: attrs>=19.3.0 in d:\anaconda\lib\site-packages (from pandas_profiling) (20.3.0)
Requirement already satisfied: jinja2>=2.11.1 in d:\anaconda\lib\site-packages (from pandas_profiling) (2.11.2)
Requirement already satisfied: confuse>=1.0.0 in d:\anaconda\lib\site-packages (from pandas_profiling) (1.4.0)
Requirement already satisfied: phik>=0.10.0 in d:\anaconda\lib\site-packages (from pandas_profiling) (0.10.0)
Requirement already satisfied: ipywidgets>=7.5.1 in d:\anaconda\lib\site-packages (from pandas_profiling) (7.5.1)
Requirement already satisfied: matplotlib>=3.2.0 in d:\anaconda\lib\site-packages (from pandas_profiling) (3.3.2)
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3 in d:\anaconda\lib\site-packages (from pandas_profiling) (1.1.3)
Requirement already satisfied: numpy>=1.16.0 in d:\anaconda\lib\site-packages (from pandas_profiling) (1.19.2)
Requirement already satisfied: seaborn>=0.10.1 in d:\anaconda\lib\site-packages (from pandas_profiling) (0.11.0)
Requirement already satisfied: visions[type_image_path]==0.6.0 in d:\anaconda\lib\site-packages (from pandas_profiling) (0.6.0)
Requirement already satisfied: missingno>=0.4.2 in d:\anaconda\lib\site-packages (from pandas_profiling) (0.4.2)
Requirement already satisfied: tangled-up-in-unicode>=0.0.6 in d:\anaconda\lib\site-packages (from pandas_profiling) (0.0.6)
Requirement already satisfied: tqdm>=4.48.2 in d:\anaconda\lib\site-packages (from pandas_profiling) (4.50.2)
Requirement already satisfied: htmlmin>=0.1.12 in d:\anaconda\lib\site-packages (from pandas_profiling) (0.1.12)
Requirement already satisfied: requests>=2.24.0 in d:\anaconda\lib\site-packages (from pandas_profiling) (2.24.0)
Requirement already satisfied: MarkupSafe>=0.23 in d:\anaconda\lib\site-packages (from jinja2>=2.11.1->pandas_profiling) (1.1.1)
Requirement already satisfied: pyyaml in d:\anaconda\lib\site-packages (from confuse>=1.0.0->pandas_profiling) (5.3.1)
Requirement already satisfied: numba>=0.38.1 in d:\anaconda\lib\site-packages (from phik>=0.10.0->pandas_profiling) (0.51.2)
Requirement already satisfied: ipython>=4.0.0; python_version >= "3.3" in d:\anaconda\lib\site-packages (from ipywidgets>=7.5.1->pandas_profiling) (7.19.0)
Requirement already satisfied: nbformat>=4.2.0 in d:\anaconda\lib\site-packages (from ipywidgets>=7.5.1->pandas_profiling) (5.0.8)
Requirement already satisfied: traitlets>=4.3.1 in d:\anaconda\lib\site-packages (from ipywidgets>=7.5.1->pandas_profiling) (5.0.5)
Requirement already satisfied: ipykernel>=4.5.1 in d:\anaconda\lib\site-packages (from ipywidgets>=7.5.1->pandas_profiling) (5.3.4)
Requirement already satisfied: widgetsnbextension~=3.5.0 in d:\anaconda\lib\site-packages (from ipywidgets>=7.5.1->pandas_profiling) (3.5.1)
Requirement already satisfied: kiwisolver>=1.0.1 in d:\anaconda\lib\site-packages (from matplotlib>=3.2.0->pandas_profiling) (1.3.0)
Requirement already satisfied: cycler>=0.10 in d:\anaconda\lib\site-packages (from matplotlib>=3.2.0->pandas_profiling) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in d:\anaconda\lib\site-packages (from matplotlib>=3.2.0->pandas_profiling) (2.4.7)
Requirement already satisfied: python-dateutil>=2.1 in d:\anaconda\lib\site-packages (from matplotlib>=3.2.0->pandas_profiling) (2.8.1)
Requirement already satisfied: pillow>=6.2.0 in d:\anaconda\lib\site-packages (from matplotlib>=3.2.0->pandas_profiling) (8.0.1)
Requirement already satisfied: certifi>=2020.06.20 in d:\anaconda\lib\site-packages (from matplotlib>=3.2.0->pandas_profiling) (2020.6.20)
Requirement already satisfied: pytz>=2017.2 in d:\anaconda\lib\site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3->pandas_profiling) (2020.1)
Requirement already satisfied: networkx>=2.4 in d:\anaconda\lib\site-packages (from visions[type_image_path]==0.6.0->pandas_profiling) (2.5)
Requirement already satisfied: imagehash; extra == "type_image_path" in d:\anaconda\lib\site-packages (from visions[type_image_path]==0.6.0->pandas_profiling) (4.2.0)
Requirement already satisfied: chardet<4,>=3.0.2 in d:\anaconda\lib\site-packages (from requests>=2.24.0->pandas_profiling) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in d:\anaconda\lib\site-packages (from requests>=2.24.0->pandas_profiling) (1.25.11)
Requirement already satisfied: idna<3,>=2.5 in d:\anaconda\lib\site-packages (from requests>=2.24.0->pandas_profiling) (2.10)
Requirement already satisfied: llvmlite<0.35,>=0.34.0.dev0 in d:\anaconda\lib\site-packages (from numba>=0.38.1->phik>=0.10.0->pandas_profiling) (0.34.0)
Requirement already satisfied: setuptools in d:\anaconda\lib\site-packages (from numba>=0.38.1->phik>=0.10.0->pandas_profiling) (50.3.1.post20201107)
Requirement already satisfied: backcall in d:\anaconda\lib\site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas_profiling) (0.2.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in d:\anaconda\lib\site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas_profiling) (3.0.8)
Requirement already satisfied: colorama; sys_platform == "win32" in d:\anaconda\lib\site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas_profiling) (0.4.4)
Requirement already satisfied: pygments in d:\anaconda\lib\site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas_profiling) (2.7.2)
Requirement already satisfied: pickleshare in d:\anaconda\lib\site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas_profiling) (0.7.5)
Requirement already satisfied: jedi>=0.10 in d:\anaconda\lib\site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas_profiling) (0.17.1)
Requirement already satisfied: decorator in d:\anaconda\lib\site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas_profiling) (4.4.2)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in d:\anaconda\lib\site-packages (from nbformat>=4.2.0->ipywidgets>=7.5.1->pandas_profiling) (3.2.0)
Requirement already satisfied: ipython-genutils in d:\anaconda\lib\site-packages (from nbformat>=4.2.0->ipywidgets>=7.5.1->pandas_profiling) (0.2.0)
Requirement already satisfied: jupyter-core in d:\anaconda\lib\site-packages (from nbformat>=4.2.0->ipywidgets>=7.5.1->pandas_profiling) (4.6.3)
Requirement already satisfied: tornado>=4.2 in d:\anaconda\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.5.1->pandas_profiling) (6.0.4)
Requirement already satisfied: jupyter-client in d:\anaconda\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.5.1->pandas_profiling) (6.1.7)
Requirement already satisfied: notebook>=4.4.1 in d:\anaconda\lib\site-packages (from widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas_profiling) (6.1.4)
Requirement already satisfied: six in d:\anaconda\lib\site-packages (from cycler>=0.10->matplotlib>=3.2.0->pandas_profiling) (1.15.0)
Requirement already satisfied: PyWavelets in d:\anaconda\lib\site-packages (from imagehash; extra == "type_image_path"->visions[type_image_path]==0.6.0->pandas_profiling) (1.1.1)
Requirement already satisfied: wcwidth in d:\anaconda\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas_profiling) (0.2.5)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in d:\anaconda\lib\site-packages (from jedi>=0.10->ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas_profiling) (0.7.0)
Requirement already satisfied: pyrsistent>=0.14.0 in d:\anaconda\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.5.1->pandas_profiling) (0.17.3)
Requirement already satisfied: pywin32>=1.0; sys_platform == "win32" in d:\anaconda\lib\site-packages (from jupyter-core->nbformat>=4.2.0->ipywidgets>=7.5.1->pandas_profiling) (227)
Requirement already satisfied: pyzmq>=13 in d:\anaconda\lib\site-packages (from jupyter-client->ipykernel>=4.5.1->ipywidgets>=7.5.1->pandas_profiling) (19.0.2)
Requirement already satisfied: Send2Trash in d:\anaconda\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas_profiling) (1.5.0)
Requirement already satisfied: terminado>=0.8.3 in d:\anaconda\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas_profiling) (0.9.1)
Requirement already satisfied: nbconvert in d:\anaconda\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas_profiling) (6.0.7)
Requirement already satisfied: prometheus-client in d:\anaconda\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas_profiling) (0.8.0)
Requirement already satisfied: argon2-cffi in d:\anaconda\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas_profiling) (20.1.0)
Requirement already satisfied: pywinpty>=0.5 in d:\anaconda\lib\site-packages (from terminado>=0.8.3->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas_profiling) (0.5.7)
Requirement already satisfied: bleach in d:\anaconda\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas_profiling) (3.2.1)
Requirement already satisfied: nbclient<0.6.0,>=0.5.0 in d:\anaconda\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas_profiling) (0.5.1)
Requirement already satisfied: testpath in d:\anaconda\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas_profiling) (0.4.4)
Requirement already satisfied: entrypoints>=0.2.2 in d:\anaconda\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas_profiling) (0.3)
Requirement already satisfied: pandocfilters>=1.4.1 in d:\anaconda\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas_profiling) (1.4.3)
Requirement already satisfied: defusedxml in d:\anaconda\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas_profiling) (0.6.0)
Requirement already satisfied: jupyterlab-pygments in d:\anaconda\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas_profiling) (0.1.2)
Requirement already satisfied: mistune<2,>=0.8.1 in d:\anaconda\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas_profiling) (0.8.4)
Requirement already satisfied: cffi>=1.0.0 in d:\anaconda\lib\site-packages (from argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas_profiling) (1.14.3)
Requirement already satisfied: webencodings in d:\anaconda\lib\site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas_profiling) (0.5.1)
Requirement already satisfied: packaging in d:\anaconda\lib\site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas_profiling) (20.4)
Requirement already satisfied: nest-asyncio in d:\anaconda\lib\site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas_profiling) (1.4.2)
Requirement already satisfied: async-generator in d:\anaconda\lib\site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas_profiling) (1.10)
Requirement already satisfied: pycparser in d:\anaconda\lib\site-packages (from cffi>=1.0.0->argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas_profiling) (2.20)

In [152]:
!pip install sweetviz

Requirement already satisfied: sweetviz in d:\anaconda\lib\site-packages (2.0.4)
Requirement already satisfied: jinja2>=2.11.1 in d:\anaconda\lib\site-packages (from sweetviz) (2.11.2)
Requirement already satisfied: importlib-resources>=1.2.0 in d:\anaconda\lib\site-packages (from sweetviz) (4.1.1)
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3 in d:\anaconda\lib\site-packages (from sweetviz) (1.1.3)
Requirement already satisfied: tqdm>=4.43.0 in d:\anaconda\lib\site-packages (from sweetviz) (4.50.2)
Requirement already satisfied: scipy>=1.3.2 in d:\anaconda\lib\site-packages (from sweetviz) (1.5.2)
Requirement already satisfied: numpy>=1.16.0 in d:\anaconda\lib\site-packages (from sweetviz) (1.19.2)
Requirement already satisfied: matplotlib>=3.1.3 in d:\anaconda\lib\site-packages (from sweetviz) (3.3.2)
Requirement already satisfied: MarkupSafe>=0.23 in d:\anaconda\lib\site-packages (from jinja2>=2.11.1->sweetviz) (1.1.1)
Requirement already satisfied: python-dateutil>=2.7.3 in d:\anaconda\lib\site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3->sweetviz) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in d:\anaconda\lib\site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3->sweetviz) (2020.1)
Requirement already satisfied: kiwisolver>=1.0.1 in d:\anaconda\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (1.3.0)
Requirement already satisfied: certifi>=2020.06.20 in d:\anaconda\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (2020.6.20)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in d:\anaconda\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (2.4.7)
Requirement already satisfied: pillow>=6.2.0 in d:\anaconda\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (8.0.1)
Requirement already satisfied: cycler>=0.10 in d:\anaconda\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (0.10.0)
Requirement already satisfied: six>=1.5 in d:\anaconda\lib\site-packages (from python-dateutil>=2.7.3->pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3->sweetviz) (1.15.0)

In [153]:
import pandas as pd
import numpy as np
import pandas_profiling as pp
import sweetviz as sv

In [154]:
data_clean=pd.read_csv("D:\DATA SCIENCE\Data sets\day12\data_clean.csv")

In [155]:
type(data_clean)
data_clean.shape

(158, 10)

In [156]:
data_clean.dtypes

Unnamed: 0      int64
Ozone         float64
Solar.R       float64
Wind          float64
Temp C         object
Month          object
Day             int64
Year            int64
Temp            int64
Weather        object
dtype: object

In [157]:
data_clean.count()

Unnamed: 0    158
Ozone         120
Solar.R       151
Wind          158
Temp C        158
Month         158
Day           158
Year          158
Temp          158
Weather       155
dtype: int64

In [158]:
data_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158 entries, 0 to 157
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  158 non-null    int64
 1   Ozone       120 non-null    float64
 2   Solar.R     151 non-null    float64
 3   Wind        158 non-null    float64
 4   Temp C      158 non-null    object
 5   Month       158 non-null    object
 6   Day         158 non-null    int64
 7   Year        158 non-null    int64
 8   Temp        158 non-null    int64
 9   Weather     155 non-null    object
dtypes: float64(3), int64(4), object(3)
memory usage: 12.5+ KB

In [159]:
data_clean

     Unnamed: 0  Ozone  Solar.R  Wind Temp C Month  Day  Year  Temp Weather
0             1   41.0    190.0   7.4     67     5    1  2010    67       S
1             2   36.0    118.0   8.0     72     5    2  2010    72       C
2             3   12.0    149.0  12.6     74     5    3  2010    74      PS
3             4   18.0    313.0  11.5     62     5    4  2010    62       S
4             5    NaN      NaN  14.3     56     5    5  2010    56       S
..          ...    ...      ...   ...    ...   ...  ...   ...   ...     ...
153         154   41.0    190.0   7.4     67     5    1  2010    67       C
154         155   30.0    193.0   6.9     70     9   26  2010    70      PS
155         156    NaN    145.0  13.2     77     9   27  2010    77       S
156         157   14.0    191.0  14.3     75     9   28  2010    75       S
157         158   18.0    131.0   8.0     76     9   29  2010    76       C

[158 rows x 10 columns]

In [160]:
#get rid of unname col
data2=data_clean.iloc[:,1:]

In [161]:
data2

     Ozone  Solar.R  Wind Temp C Month  Day  Year  Temp Weather
0     41.0    190.0   7.4     67     5    1  2010    67       S
1     36.0    118.0   8.0     72     5    2  2010    72       C
2     12.0    149.0  12.6     74     5    3  2010    74      PS
3     18.0    313.0  11.5     62     5    4  2010    62       S
4      NaN      NaN  14.3     56     5    5  2010    56       S
..     ...      ...   ...    ...   ...  ...   ...   ...     ...
153   41.0    190.0   7.4     67     5    1  2010    67       C
154   30.0    193.0   6.9     70     9   26  2010    70      PS
155    NaN    145.0  13.2     77     9   27  2010    77       S
156   14.0    191.0  14.3     75     9   28  2010    75       S
157   18.0    131.0   8.0     76     9   29  2010    76       C

[158 rows x 9 columns]

In [165]:
data=data2.copy()

In [166]:
data['Month']=pd.to_numeric(data['Month'],errors='coerce')
data['Temp C']=pd.to_numeric(data['Temp C'],errors='coerce')
data['Weather']=data['Weather'].astype('category')

In [167]:
data[data.duplicated()].shape

(1, 9)

In [168]:
data

     Ozone  Solar.R  Wind  Temp C  Month  Day  Year  Temp Weather
0     41.0    190.0   7.4    67.0    5.0    1  2010    67       S
1     36.0    118.0   8.0    72.0    5.0    2  2010    72       C
2     12.0    149.0  12.6    74.0    5.0    3  2010    74      PS
3     18.0    313.0  11.5    62.0    5.0    4  2010    62       S
4      NaN      NaN  14.3    56.0    5.0    5  2010    56       S
..     ...      ...   ...     ...    ...  ...   ...   ...     ...
153   41.0    190.0   7.4    67.0    5.0    1  2010    67       C
154   30.0    193.0   6.9    70.0    9.0   26  2010    70      PS
155    NaN    145.0  13.2    77.0    9.0   27  2010    77       S
156   14.0    191.0  14.3    75.0    9.0   28  2010    75       S
157   18.0    131.0   8.0    76.0    9.0   29  2010    76       C

[158 rows x 9 columns]

In [169]:
data[data.duplicated()]

     Ozone  Solar.R  Wind  Temp C  Month  Day  Year  Temp Weather
156   14.0    191.0  14.3    75.0    9.0   28  2010    75       S

In [170]:
data_cleaned1=data.drop_duplicates()

In [171]:
data_cleaned1.shape

(157, 9)

In [172]:
data_cleaned2=data_cleaned1.drop('Temp C',axis=1)

In [173]:
data_cleaned2

     Ozone  Solar.R  Wind  Month  Day  Year  Temp Weather
0     41.0    190.0   7.4    5.0    1  2010    67       S
1     36.0    118.0   8.0    5.0    2  2010    72       C
2     12.0    149.0  12.6    5.0    3  2010    74      PS
3     18.0    313.0  11.5    5.0    4  2010    62       S
4      NaN      NaN  14.3    5.0    5  2010    56       S
..     ...      ...   ...    ...  ...   ...   ...     ...
152   20.0    223.0  11.5    9.0   30  2010    68       S
153   41.0    190.0   7.4    5.0    1  2010    67       C
154   30.0    193.0   6.9    9.0   26  2010    70      PS
155    NaN    145.0  13.2    9.0   27  2010    77       S
157   18.0    131.0   8.0    9.0   29  2010    76       C

[157 rows x 8 columns]

In [174]:
data_cleaned3=data_cleaned2.rename({'Solar.R': 'Solar'}, axis=1)

In [175]:
data_cleaned3

     Ozone  Solar  Wind  Month  Day  Year  Temp Weather
0     41.0  190.0   7.4    5.0    1  2010    67       S
1     36.0  118.0   8.0    5.0    2  2010    72       C
2     12.0  149.0  12.6    5.0    3  2010    74      PS
3     18.0  313.0  11.5    5.0    4  2010    62       S
4      NaN    NaN  14.3    5.0    5  2010    56       S
..     ...    ...   ...    ...  ...   ...   ...     ...
152   20.0  223.0  11.5    9.0   30  2010    68       S
153   41.0  190.0   7.4    5.0    1  2010    67       C
154   30.0  193.0   6.9    9.0   26  2010    70      PS
155    NaN  145.0  13.2    9.0   27  2010    77       S
157   18.0  131.0   8.0    9.0   29  2010    76       C

[157 rows x 8 columns]